{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}

{% include 'navigation.html.twig' %}

<h1> Fonctionnalités </h1>

  <h2>Liste des partenaires</h2>
    <a href="{{ path('app_part_liste') }}">
        <button class="btn btn-info btn-lg m-2">Détails</button>
        </a>
 <h2>Liste des structures</h2>
    <a href="{{ path('app_structures_liste') }}">
        <button class="btn btn-info btn-lg m-2">Détails</button>
        </a>


{% endblock %}
